<p id="notice"><%= notice %></p>

<p>
  <strong>Q.No:</strong>
  <%= @question.Q_No %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question.Question %>
</p>

<p>
  <strong>Option 1:</strong>
  <%= @question.Option_1 %>
</p>

<p>
  <strong>Option 2:</strong>
  <%= @question.Option_2 %>
</p>

<p>
  <strong>Option 3:</strong>
  <%= @question.Option_3 %>
</p>

<p>
  <strong>Option 4:</strong>
  <%= @question.Option_4 %>
</p>

<%= link_to 'New Question', new_question_path %> |
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
